<%= form_with model: [quiz, quiz.questions.build], target: "questions_list", class: "space-y-4" do |form| %>
  <div>
    <%= form.label :text, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :text, class: "input input-bordered w-full max-w-xs", placeholder: "Enter question text here" %>
  </div>

  <div>
    <%= form.submit "Add Question", class: "btn btn-primary" %>
  </div>
<% end %>
