<div id="<%= dom_id(question) %>" class="p-4 mb-4 bg-white rounded-lg shadow border border-gray-200">
  <p class="text-gray-800"><%= link_to question.text, quiz_question_path(@quiz ,question), data: { turbo: false }  %></p>
</div>
