<div>
  <h1 class="font-bold text-4xl">Questions</h1>
 
  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead>
        <tr>
          <th style="width: 20px;"></th> 
          <th style="width: 150px;">Question</th> 
          <th style="width: 50px;">Quiz</th>
          <th style="width: 50px;">Status</th>
          <th style="width: 50px;">Question Type</th> 
          <th style="width: 50px;">Options</th> 
          <th style="width: 50px;">Category</th> 
          <th style="width: 30px;">Favorite Color</th>
        </tr>
      </thead> 
      <tbody>
        <% @questions.each do |q| %>
          <tr>
            <th>1</th> 
            <td><%= link_to q.text, question_path(q) %></td></td> 
            <td><%= q.quiz.title %></td> 
            <td>
        <%= button_to toggle_status_question_path(q), method: :patch, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" do %>
          <%= q.status.capitalize %>
        <% end %>
            </td>
            <td>Canada</td> 
            <td>12/16/2020</td> 
            <td>Blue</td>
          </tr>
        <% end %>
      </tbody> 
      <tfoot>
        <tr>
          <th></th> 
          <th>Name</th> 
          <th>Job</th> 
          <th>company</th> 
          <th>location</th> 
          <th>Last Login</th> 
          <th>Favorite Color</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
