<%= link_to entry_path(entry) do %>
  <div id="<%= dom_id(entry) %>" class="entry">
    <div class="bg-white rounded-lg shadow-lg p-3 m-4">
      <h5 class="text-base font-bold"><%= @entry_to_complete.prompt.question %></h5>
    </div>
  </div>
<% end %>