<div class="mx-auto md:w-2/3 w-full ">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= @user.email %></h1>

      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <div class="inline-block ml-2">
          <%= button_to "Start a new assesment", "#", method: :delete, class: "ml-2 p-2 text-xs rounded-md bg-gray-100 inline-block font-medium" %>
        </div>
      </div>
    </div>
  </div>


  <% @my_children.each do |child|  %>
    <div class="container mx-auto py-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-6">
        <div class="card w-50 bg-base-100 shadow-xl">
          <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /> </figure>
            <div class="card-body">
              <h2 class="card-title">
                <%= link_to child.name, child_path(child), class:'' %>
              </h2>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

